.tweet-box{
    width: 100%;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    float: left;
}
.tweet-box h2 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 18px;
    color: #444;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px;
    margin: 0;
}
.tweets-widget {
    list-style: none;
    max-height: 450px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.tweets-widget ul {
    margin-bottom: 0px;
    padding-left: 0;
    width: 100%;
}
.tweet-wrapper {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 15px;
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
}
.tweet-wrapper:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}
.tweet-thumb {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}
h3.title a{color: #4c9fe1;}
h3.title a:hover{text-decoration: underline;}
.tweets-widget img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
    height: auto;
    background: #fff;
    display: block;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.tweet-content {
    overflow: hidden;
}
.tweet-content .title {
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 19px;
    font-size: 14px;
    font-family: 'Arial';
}
.tweet-content .meta {
    font-size: 11px;
    color: #929292;
}